<%= form_with model: @note do |f| %>
  <p>
      <%= f.label :title, 'タイトル：' %>
      <%= f.text_field :title %>
  </p>
  
  <div><%= f.label :subject_id, "教材" %>
  <%= f.collection_select :subject_id,
                          current_user.subjects,
                          :id,
                          :subject_name,
                          { include_blank: "教材を選択してください" } %>
  </div>
  
  <br>
  
  <div>
    <%= f.label :attached_tag_ids, "タグを選択" %>
    <div>
      <%= f.collection_check_boxes :attached_tag_ids,
                                   current_user.tags,
                                   :id,
                                   :tagname do |b| %>
       <div>
         <%= b.check_box(class: "form-check-input") %>
         <%= b.label(class: "form-check-label") {b.text } %>
       </div>
      <% end %>
    </div>
  </div>
  
  <br>
  
  <div data-controller="image-preview">
    <div>
        <%= f.label :images, '手描きノートの写真(複数選択可)' %>
        
        <%= f.file_field :images, multiple: true, accept: 'image/jpeg,image/gif,image/png', 
            data: {
              image_preview_target: "input",
              action: "change->image-preview#preview"}
        %>
        <!--プレビュー表示エリア-->
        <div data-image-preview-target="preview">
          
        </div>
        <br>
        <% if @note.images.attached? %>
          <!-- 既存画像の保存用 -->
          <% @note.images.each do |image| %>
            <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
          <% end %>
          
          <div>
            <p>現在保存されている画像（削除するものはチェックしてください）</p>
            <% @note.images.each do |image| %>
              <%= f.check_box :image_ids, {multiple: true}, image.id, false %>
              <%= image_tag image, height: 150, style: "max-width: 100%; object-fit: contain;" %>
            <% end %>
          </div>
        <% end %>
    </div>
    
  </div>
  
  <p>
      <%= f.label :content, '本文：' %>
      <%= f.rich_text_area :content %>
  </p>
  
  <%= f.submit @note.new_record? ? "保存" : "更新" %>
<% end %>