<h1>マイページ</h1>
<h2>ノート一覧表示</h2>
<p><%= link_to 'ノート新規追加', 'notes/new', class: "btn btn-new" %> </p>
<ul>
    <% @notes.each do |t| %>
        <li>
            <strong><%= t.title %></strong>&nbsp;
            (作成日：<%= t.created_at %>)
            <%= link_to '削除', "notes/#{t.id}", data: {turbo_method: :delete, turbo_confirm: '削除してよろしいですか?'} %>
            <%= link_to '表示', "notes/#{t.id}" %>
            <%= link_to '編集', "notes/#{t.id}/edit" %>
        </li>
    <% end %>
</ul>
