<h1>
  <strong>タイトル：</strong>
  <%= @note.title %>
</h1>
<div>
  <% if @note.subject.present? %>
    <p>教材：<%= @note.subject.subject_name %></p>
  <% else %>
    <p>教材はありません。</p>
  <% end %>
</div>

<div>
  <% if @note.attached_tags.any? %>
    <p style="margin-bottom: 0px;">タグ：</p>
    <div>
      <% @note.attached_tags.each do |tag| %>
        <span style="display: inline-block; background-color: #ffc04a; padding: 4px 10px; border-radius: 16px; font-size: 0.9em; margin-right: 5px; margin-bottom: 5px;">
          #<%= tag.tagname %>
        </span>
      <% end %>
    </div>
  <% else %>
    <p>タグはありません。</p>
  <% end %>
</div>

<% if @note.images.attached? %>
  <div data-controller="image-modal">
    <p>【手描きのノート】</p>
    <% @note.images.each do |image| %>
      <%= image_tag image, style: "max-width: 100%; height: 150px; margin-right: 10px; border: 1px solid #ccc; cursor: pointer;",
      data: {
        action: "click->image-modal#open"
      }
      %>
    <% end %>
    
    <!--拡大表示用のモーダル-->
    <div style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 1000; align-items: center; justify-content: center;"
         data-image-modal-target="modal" 
         data-action="click->image-modal#close">
      
      <img src="" style="max-width: 90%; max-height: 90%; border: 2px solid white;"
           data-image-modal-target="fullImage">
    </div>
    <!------------------------>
  </div>
<% end %>


<% if @note.content.body.present? %>
  <div>
    <p>【ノート】</p>
    <%= @note.content %>
  </div>
<% end %>

<%= link_to '戻る', notes_path %>