<%= form_with model: @tag do |f| %>
  <div>
     <strong><%= f.label :tagname, "タグ名" %></strong>
     <%= f.text_field :tagname %>
  </div>
    <%= f.submit class: "btn btn-submit" %>
     
    <%= link_to "キャンセル", tags_path, class: "cancel" %>
<% end %>