<h1>ダッシュボード</h1>

<div class="card">
  <h2>教材ごとの合計勉強時間</h2>
  <table>
    <thead>
      <tr>
        <th>教材</th>
        <th>合計勉強時間（分）</th>
      </tr>
    </thead>
    <tbody>
      <% @studytime_by_subject.each do |(subject_id, subject_name), total_time| %>
        <tr>
          <td><%= subject_name %></td>
          <td><%= total_time %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="card">
  <h2>月ごとの勉強時間</h2>
  
  <%= column_chart @studytime_by_month,
                 xtitle: "月",
                 ytitle: "勉強時間（分）" %>
</div>

<div class="card">
  <h2>直近の学習ログ</h2>
  
  <% if @recent_logs.present? %>
    
      <% @recent_logs.each do |log| %>
        <div class="log-card log-card--orange">
          <%= log.studied_on %><br>
          <%= log.subject&.subject_name %><br>
          <%= log.studytime %> 分
        </div>
        
      <% end %>
    
  <% else %>
    <p>まだ学習ログが登録されていません。</p>
  <% end %>
</div>