<%= form_with model: @subject do |f| %>
  <div>
     <strong><%= f.label :subject_name, "科目名" %></strong>
     <%= f.text_field :subject_name %>
  </div>

  <%= f.submit class: "btn btn-submit" %>
  
  <%= link_to "キャンセル", subjects_path, class: "cancel" %>

<% end %>