<h1>ユーザー新規登録</h1>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<%= form_with model: @user do |form| %>
  <p>
    <%= form.label :email, "メールアドレス" %>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password %>
  </p>
  <p>
    <%= form.label :password_confirmation, 'パスワード(確認)' %>
    <%= form.text_field :password_confirmation %>
  </p>
  <%= form.submit "登録" %>
<% end %>
<br>
<%= link_to "キャンセル" %> <!-- FIXIT: リンク先の設定 -->